body
{
    margin: 0px;
}
#box-wrapper
{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 635px;
}
.navbar-custom
{
	background-color:#ecebeb;
	width:100%;
	height:85px;
	z-index:2;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}