body
{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#bbox
{
	background: rgba(0, 0, 0, 0.4);
	margin-top: -20px;
	padding-left: 60px;
}

#bbox h2
{
    color:white;
}
span.tab-space {padding-left:1.5em;}
#bbox h3
{
    color:#59b5ee;
    text-align:left;
}

#bbox a
{
    color:#48a3db;
}

#bbox p
{
    color:white;
    text-align:left;
}
#map
{
    margin-top: -20px;
}