body
{
    margin: 0px;
    margin-bottom: 60px;
}
#box-wrapper
{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 578px;
}
.navbar-custom
{
	background-color:#ecebeb;
	width:100%;
	height:85px;
	z-index:2;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#bbox
{
    color:white;
	background: rgba(0, 0, 0, 0.4);
	min-height:505px;
	margin-top: -20px;
}

#bbox h2
{
    color:white;
    text-align:center;
    margin-top:130px;
}

#bbox a
{
    color:white;
}

#bbox p
{
    color:white;
    text-align:center;
    margin-top: 45px;
    padding-left:40px;
    padding-right:40px;
}

#ebox
{
    color:#5b5b5b;
	background: rgba(0, 0, 0, 0);
	min-height:505px;
	margin-top: -20px;
}

#ebox h2
{
    color:#5b5b5b;
    text-align:center;
    margin-top:130px;
}

#ebox a
{
    color:white;
}

#ebox p
{
    color:#5b5b5b;
    text-align:center;
    margin-top: 45px;
    padding-left:40px;
    padding-right:40px;
}




html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f4f4f4;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}