body
{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#map
{
    margin-top: -20px;
}
#bbox
{
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
}
#ebox
{
    background: rgba(0, 0, 0, 0);
    text-align: center;
}

#ebox h2
{
    color:#5b5b5b;
}

#ebox a
{
    color:white;
}

#ebox p
{
    color:#5b5b5b;
}
.row.extra-bottom-padding{
   margin-bottom: -20px;
}