body
{
    margin: 0px;
    margin-bottom: 60px;
}
#box-wrapper
{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 600px;
}
.navbar-custom
{
	background-color:#ecebeb;
	width:100%;
	height:85px;
	z-index:2;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#bbox
{
    color:white;
	background: rgba(0, 0, 0, 0.4);
	min-height:530px;
	margin-top: -20px;
}

#bbox h2
{
    color:white;
    text-align:center;
    margin-top:130px;
}

#bbox h3
{
    color:#48a3db;
    text-align:left;
    margin-top:130px;
}

#bbox a
{
    color:white;
}

#bbox p
{
    color:white;
    text-align:center;
    margin-top: 45px;
    padding-left:40px;
    padding-right:40px;
}

#ebox
{
    color:#5b5b5b;
	background: rgba(0, 0, 0, 0);
	min-height:505px;
	margin-top: -20px;
}

#ebox h2
{
    color:#5b5b5b;
    text-align:center;
    margin-top:130px;
}

#ebox a
{
    color:white;
}

#ebox p
{
    color:#5b5b5b;
    text-align:center;
    margin-top: 45px;
    padding-left:40px;
    padding-right:40px;
}