body
{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#bbox
{
    background: rgba(0, 0, 0, 0.4);
}

#bbox h2
{
    color:white;
    text-align:center;
}

#bbox h3
{
    color:#48a3db;
    text-align:left;
}

#bbox a
{
    color:white;
}

#bbox p
{
    color:white;
    text-align:center;
}

#ebox
{
	background: rgba(0, 0, 0, 0);
}

#ebox h2
{
    color:#5b5b5b;
    text-align:center;
}

#ebox a
{
    color:white;
}

#ebox p
{
    color:#5b5b5b;
    text-align:center;
}
