@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');
html,
body
{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    overflow-x: hidden;
}
.board {
    width: 100%;
    height: auto;
    margin: 20px auto;
    background: rgba(248,248,248,0.5);
    border-radius: 8px 8px 0 0;
}
.board .nav-tabs {
    position: relative;
    margin: 0 auto;
    margin-bottom: 0;
    box-sizing: border-box;
}
.liner {
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}
.wrapper
{
    display: -webkit-flex;
    display: flex;
    min-height: 100%;
}
.sidebar
{
    position: absolute;
    width: 220px;
    background: #249631;
    top: 54px;
}

.title
{
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #eee;
    border-bottom: 1px solid #222;
    background: #2B6612;
}
.content {
  -webkit-flex: 1;
  flex: 1;
  padding: 10px;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
}
.content.content-is-open {
  margin-left: 240px;
}
.side-panel-toggle {
  cursor: pointer;
  font-size: 32px;
  top: 40px;
}
.nav li a {
  position: relative;
  display: block;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #eee;
  border-bottom: 1px solid #222;
}
.nav li a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px;
}
.nav li:nth-child(1) a:before {
  content: '\f00a';
}
.nav li:nth-child(2) a:before {
  content: '\f115';
}
.nav li:nth-child(3) a:before {
  content: '\f0e8';
}
.nav li:nth-child(4) a:before {
  content: '\f022';
}
.nav li:nth-child(5) a:before {
  content: '\f085';
}
.nav li:nth-child(6) a:before {
    content: '\f023';
    left: 23px;
}
.nav li a:hover {
  background: #DFFFC7;
}
.nav li a.active {
  box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #444;
}
h1 {
  margin: 25px 0 15px;
  font-size: 28px;
  font-weight: 400;
}
h2 {
  font-size: 18px;
  font-weight: 400;
  color: #999;
}