@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');
html,
body
{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.wrapper
{
    display: -webkit-flex;
    display: flex;
    min-height: 100%;
}
.sidebar
{
    position: absolute;
    width: 220px;
}

.title
{
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #eee;
    border-bottom: 1px solid #222;
    background: #2B6612;
}
.content.content-is-open {
  margin-left: 220px;
}
.side-panel-toggle {
  cursor: pointer;
  font-size: 42px;
  left: 20px;
}
.nav li a {
  position: relative;
  display: block;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #2B6612;
  border-bottom: 1px solid #222;
}
.nav li a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px;
}
.nav li:nth-child(1) a:before {
  content: '\f00a';
}
.nav li:nth-child(2) a:before {
  content: '\f115';
}
.nav li:nth-child(3) a:before {
  content: '\f0e8';
}
.nav li:nth-child(4) a:before {
  content: '\f022';
}
.nav li:nth-child(5) a:before {
  content: '\f085';
}
.nav li:nth-child(6) a:before {
    content: '\f023';
    left: 23px;
}
.nav li a:hover {
  background: #DFFFC7;
}
.nav li a.active {
  box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #444;
}